<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="header">

      <form method="POST" action="/urls/<%= name="username" %>/login">

      <input type="text" name="username"><button type="submit">Submit</button>

      </form>

      <%=username%>

    </div>

</div>
</nav>