<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

  <div class="header">

    <% if (user) { %>

    hello <%= user["email"]%>!
      <form method="POST" action="/logout">
      <button>Logout</button>
      </form>


      <form method="get" action="/urls/">
      <button type="submit">See all urls!</button>
      </form>


    <% } else { %>
      <a href="/register">Register</a><p>
      <a href= "/login">Login</a></p>

     <% } %>

      </div>
  </div>
</nav>