<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="header">
      <% if (username) { %>

       hello <%=username%>!

      <% } else { %>

            <form method="POST" action="/register">

            <label>Type your user name: </label>

            <input type="text" name="username"><button type="submit">Submit</button>

            </form>

     <% } %>


    </div>

</div>
</nav>