<!DOCTYPE html>
<html lang="en">
<head></head>

 <body style="font-size:20px; padding:50px;">

  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="header">


        <form method="POST" action="/login">

          <label for="email">Email:</label>
          <input id="email" type="text" name="email" placeholder="http://" style="width: 300px">
          <p>
          <label for="email">Password:</label>
          <input id="password" type="text" name="password" placeholder="http://" style="width: 300px">
          <p>

          <input type="submit" value="Submit">

        </form>


    </div>
    </nav>

  </body>
</html>