<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <li>

<%= longURL %>
<%= shortURL %>

  </li>

</body>
</html>

access the correct long URL from urlDatabase, and add it to the templateVars object under an
appropriately named key.

