<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
     <% for (const name in urls) { %>
        <li><a href="http://www.lighthouselabs.ca">
            <a href=" http://www.google.com">
          <%= name %>: <%= urls[name] %></a></a>
        </li>

    <% } %>
  </ul>
</body>
</html>