<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include partials/_header %>
  </header>


<!--Add a form to the urls_show template that submits an updated long URL-->

  <form method="POST" action="/urls/<%= shortURL %>/update">

      <input type="text" name="longURL"><button type="submit">Update</button>

  </form>



<%= longURL %>
<%= shortURL %>


</body>
</html>

