<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <header>
    <% include partials/_header %>
  </header>


  <form method="POST" action="/urls/<%= longURL %>/put">

      <input type="text" name="input text"><button>Update</button>

  </form>


<%= longURL %>
<%= shortURL %>


<!--
    Add a form to the urls_show template that submits an updated long URL
 -->
</body>
</html>

access the correct long URL from urlDatabase, and add it to the templateVars object under an
appropriately named key.

